<div class="form__wrapper">
<%= form_with model: @prototype, local: true, html: { multipart: true } do |f| %>
  <% if @prototype.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @prototype.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div>
    <h2 class= "post_form__title">新規プロトタイプ投稿</h2>
 </div>    

  <div class="field">
    <%= f.label :title, "プロトタイプの名称" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :catch_copy, "キャッチコピー" %><br>
    <%= f.text_field :catch_copy %>
  </div>

  <div>
    <%= f.label :concept, "コンセプト" %><br>
    <%= f.text_area :concept %>
  </div>

  <!-- ここが画像アップロードの場所 -->
  <div>
    <%= f.label :image, "プロトタイプの画像" %><br>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "保存する", class: :form__btn %>
  </div>
<% end %>
</div>